<div class="jumbotron masthead">
    <div class="container">
        <h1>Let's Do Lunch!</h1>
        <p>Find a local restaurant, and invite your friends to meet you there.</p>
        <p>
            <a href="#me" class="btn btn-primary btn-large btn-profile hidden">View My Profile</a>
            <a href="#me" class="btn btn-primary btn-large btn-login">Login with Facebook</a>
        </p>
    </div>
</div>

